@font-face {
  font-family: "nunito-sans-regular";
  src: url("../fonts/nunito-sans-regular.ttf");
}
@font-face {
  font-family: "nunito-semibold";
  src: url("../fonts/nunito-semibold.ttf");
}
@font-face {
  font-family: "nunito-sans-extrabold";
  src: url("../fonts/nunito-sans-extrabold.ttf");
}
body {
  width: auto;
  margin: 0 auto;
}
body .header {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
body .header-logo {
  margin-left: 162px;
  height: 50px;
  width: 179px;
}
body .header-menu {
  font-family: nunito-sans-regular, sans-serif;
  align-items: center;
  font-size: 20px;
  margin-right: 160px;
  display: flex;
}
body .header-menu-navigation {
  display: flex;
  list-style-type: none;
}
body .header-menu-navigation ul {
  display: flex;
  list-style-type: none;
}
body .header-menu-navigation ul a {
  color: #bab8b8;
  padding-left: 33px;
  padding-right: 33px;
  text-decoration: none;
}
body .header-menu-navigation ul a:hover {
  color: #5ba4f5;
  font-weight: bold;
}
body .header-menu__button {
  margin-left: 30px;
}

.menu-button {
  padding: 11px 40.5px;
  background-color: #ffffff;
  border: 4px solid #3984f3;
  color: #3984f3;
  font-size: 20px;
  font-family: nunito-semibold, sans-serif;
  cursor: pointer;
  transition-duration: 0.4s;
}
.menu-button:hover {
  font-weight: bold;
  background-color: #3984f3;
  color: white;
}

.advertising {
  margin-top: 327px;
  margin-left: 162px;
  position: relative;
}
.advertising__bg {
  position: absolute;
  z-index: -1;
  top: -234px;
  right: 0;
}
.advertising__title {
  font-family: nunito-sans-extrabold, sans-serif;
  font-size: 75px;
  font-weight: bold;
  line-height: 81px;
}
.advertising__plan {
  font-family: nunito-sans-regular, sans-serif;
  font-size: 22px;
  margin-top: 70px;
  color: grey;
}
.advertising__button {
  margin-top: 90px;
  background-color: #3984f3;
  color: white;
  border: 5px solid #3984f3;
  padding: 14px 59px;
  font-size: 20px;
  cursor: pointer;
}
.advertising__button:hover {
  font-weight: bold;
  background-color: white;
  color: #3984f3;
}
.advertising__pic {
  position: absolute;
  left: 840px;
  top: 213px;
}

.places {
  margin-top: 478px;
  display: flex;
}
.places__photos {
  display: flex;
}
.places__photos-first {
  margin-right: 40px;
  margin-top: 54px;
  height: 500px;
  width: 225px;
  background: url(../images/Layer2.png) no-repeat;
}
.places__photos-Maldives, .places__photos-Kathmandu, .places__photos-Indonesia {
  font-size: 23px;
  font-family: nunito-sans-regular, sans-serif;
  color: white;
  margin-top: 440px;
}
.places__photos-Kathmandu, .places__photos-Indonesia {
  margin-left: 25px;
  margin-top: 365px;
}
.places__photos-price {
  width: 110px;
  height: 43px;
  margin-top: 28px;
  background: #3984f3;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: nunito-semibold, sans-serif;
  line-height: 43px;
}
.places__photos-second {
  margin-right: 40px;
  height: 500px;
  width: 372px;
  background: url(../images/Layer3.png) no-repeat;
}
.places__photos-third {
  margin-top: 54px;
  background: url(../images/Layer5.png) no-repeat;
  height: 500px;
  width: 372px;
}
.places__photos-stars {
  margin-top: 57px;
  color: #3984f3;
  font-size: 21px;
}
.places__photos-7days {
  margin-top: -22px;
  margin-left: 237px;
  font-family: nunito-semibold, sans-serif;
  font-size: 24px;
  color: #81858e;
  height: 21px;
}
.places__description {
  margin-left: 160px;
  margin-top: 30px;
}
.places__description-first {
  font-size: 50px;
  font-family: nunito-semibold, sans-serif;
  margin-bottom: 39px;
}
.places__description-second {
  font-size: 22px;
  font-family: nunito-sans-regular, sans-serif;
  color: #81858e;
  margin-top: 56px;
}
.places__description-feature {
  width: 80px;
  border: solid 5px #3984f3;
}
.places__description-button {
  background-color: #3984f3;
  color: white;
  border: 5px solid #3984f3;
  padding: 14px 67px;
  font-size: 20px;
  display: inline-block;
  margin-top: 40px;
  cursor: pointer;
}
.places__description-button:hover {
  font-weight: bold;
  background-color: white;
  color: #3984f3;
}

.places__arrows {
  display: flex;
  margin-left: 188px;
  margin-top: 70px;
  font-size: 33px;
}
.places__arrows-right {
  margin-left: 70px;
  color: #d2d2d2;
}
.places__arrows-left {
  color: #a4a4a4;
}

.featured-videos {
  margin-top: 255px;
}
.featured-videos__title {
  font-family: nunito-semibold, sans-serif;
  font-size: 50px;
  text-align: center;
}
.featured-videos__separator {
  width: 80px;
  border: solid 5px #3984f3;
  margin: 0 auto;
}
.featured-videos__description {
  font-size: 22px;
  font-family: nunito-sans-regular, sans-serif;
  color: grey;
  text-align: center;
  margin-top: 55px;
}
.featured-videos__pics {
  display: flex;
  margin-top: 114px;
  justify-content: center;
}
.featured-videos__pics-player {
  width: 1072px;
  height: 614px;
}
.featured-videos__pics-start {
  justify-content: center;
  align-items: center;
  display: flex;
  height: inherit;
}
.featured-videos__pics-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
.featured-videos__pics-icon {
  display: flex;
  align-items: center;
  margin-left: 31px;
}
.featured-videos__pics-icon:hover {
  background: #f0f0f0;
  margin-left: 16px;
  border: solid 15px #f0f0f0;
}
.featured-videos__pics-description {
  margin-left: 22px;
  font-size: 23px;
  font-family: nunito-semibold, sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
}
.featured-videos__pics-description span {
  font-size: 20px;
  font-family: nunito-sans-regular, sans-serif;
  color: grey;
}

.Travel-categories {
  margin-top: 250px;
}
.Travel-categories__title {
  text-align: center;
  font-size: 50px;
  font-family: nunito-semibold, sans-serif;
}
.Travel-categories__separator {
  width: 80px;
  border: solid 5px #3984f3;
  margin: 0 auto;
}
.Travel-categories__description {
  color: grey;
  font-family: nunito-sans-regular, sans-serif;
  font-size: 22px;
  text-align: center;
  margin-top: 60px;
}
.Travel-categories__photos {
  margin-top: 121px;
  display: flex;
  justify-content: space-evenly;
  font-family: nunito-sans-regular, sans-serif;
  font-size: 28px;
  color: white;
}
.Travel-categories__photos-food {
  height: 502px;
  width: 183px;
  background: url(../images/food.png) no-repeat;
}
.Travel-categories__photos-backpacking {
  background: url(../images/human.png) no-repeat;
}
.Travel-categories__photos-beaches {
  background: url(../images/beachsee.png) no-repeat;
}
.Travel-categories__photos-art {
  background: url(../images/Budda.png) no-repeat;
}
.Travel-categories__photos-wildlife {
  background: url(../images/tiger.png) no-repeat;
  height: 502px;
  width: 183px;
}
.Travel-categories__photos-backpacking, .Travel-categories__photos-beaches, .Travel-categories__photos-art {
  height: 502px;
  width: 473px;
}
.Travel-categories__photos-food, .Travel-categories__photos-backpacking, .Travel-categories__photos-art, .Travel-categories__photos-wildlife {
  margin-top: 61px;
}
.Travel-categories__photos-advertising {
  margin-top: 434px;
  margin-left: 30px;
}
.Travel-categories__arrows {
  margin-top: 95px;
  text-align: center;
  font-size: 33px;
  color: #a0a0a0;
}
.Travel-categories__arrows-left {
  margin-right: 33px;
}
.Travel-categories__arrows-right {
  margin-left: 33px;
}

.Travellers-experiences {
  margin-top: 208px;
}
.Travellers-experiences__title {
  font-size: 50px;
  font-family: nunito-semibold, sans-serif;
  text-align: center;
}
.Travellers-experiences__separator {
  border: solid 5px #3984f3;
  width: 80px;
  margin: 0 auto;
}
.Travellers-experiences__description {
  text-align: center;
  font-family: nunito-sans-regular, sans-serif;
  font-size: 26px;
  margin-top: 80px;
}
.Travellers-experiences__arrows {
  margin-top: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Travellers-experiences__arrows-man {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Travellers-experiences__arrows-Donquixote {
  font-family: nunito-sans-extrabold, sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
}
.Travellers-experiences__arrows-traveller {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: nunito-sans-regular, sans-serif;
  font-size: 20px;
}
.Travellers-experiences__arrows-left {
  margin-right: 144px;
  font-size: 33px;
  color: #dfdfdf;
}
.Travellers-experiences__arrows-right {
  margin-left: 144px;
  font-size: 33px;
  color: #a0a0a0;
}
.Travellers-experiences__dotted {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}
.Travellers-experiences__dotted-first {
  border: solid 2px #3984f3;
  width: 60px;
}
.Travellers-experiences__dotted-second {
  width: 40px;
  margin-left: 19px;
  border: solid 2px #d4daf5;
}

.reservation {
  margin-top: 254px;
  background: url(../images/clouds.png) center;
  height: 900px;
}
.reservation__title {
  color: white;
  font-size: 37px;
  font-family: nunito-semibold, sans-serif;
  text-align: center;
  padding-top: 310px;
  margin-block-end: 0;
}
.reservation__sale {
  font-family: nunito-sans-extrabold, sans-serif;
  font-size: 60px;
  text-align: center;
  color: white;
  margin-block-start: 0;
}
.reservation__form {
  display: flex;
  justify-content: center;
  font-family: nunito-semibold, sans-serif;
}
.reservation__form-destinations, .reservation__form-package, .reservation__form-date {
  height: 70px;
  width: 350px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 56px;
}
.reservation__form-destinations__polygons, .reservation__form-package__polygons, .reservation__form-date__polygons {
  color: white;
}
.reservation__form-destinations__polygons-first, .reservation__form-destinations__polygons-second, .reservation__form-package__polygons-first, .reservation__form-package__polygons-second, .reservation__form-date__polygons-first, .reservation__form-date__polygons-second {
  position: absolute;
  left: 290px;
  top: 31px;
}
.reservation__form-destinations__polygons-first, .reservation__form-package__polygons-first, .reservation__form-date__polygons-first {
  top: 26px;
}
.reservation__form-date__calendar {
  position: absolute;
  left: 286px;
  color: white;
  font-size: 24px;
}
.reservation__form-button {
  background-color: #3984f3;
  color: white;
  border: 5px solid #3984f3;
  padding: 16px 118px;
  font-size: 23px;
  cursor: pointer;
}
.reservation__form-button:hover {
  background-color: #d7f3ff;
  color: #3984f3;
}

.footer-menu {
  margin-top: 76px;
}
.footer-menu__navigation {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.footer-menu__navigation ul {
  display: flex;
  list-style-type: none;
  font-family: nunito-sans-regular, sans-serif;
  font-size: 18px;
}
.footer-menu__navigation ul a {
  color: black;
  padding-left: 33px;
  padding-right: 33px;
  text-decoration: none;
}
.footer-menu__navigation ul a:hover {
  color: #5ba4f5;
  font-weight: bold;
}
.footer-menu__copyright {
  color: black;
  display: flex;
  justify-content: center;
  font-family: nunito-semibold, sans-serif;
  font-size: 15px;
}
.footer-menu__copyright span {
  color: #bab8b8;
  margin-left: 5px;
}
.footer-menu__messengers {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}
.footer-menu__messengers-youtube, .footer-menu__messengers-facebook, .footer-menu__messengers-telegram, .footer-menu__messengers-messenger {
  background: url(../images/ellipse.png) no-repeat;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 23px;
  font-size: 18px;
  color: white;
}

input {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-shadow: none;
  width: 350px;
  height: 70px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-indent: 40px;
  display: flex;
  font: 400 24px nunito-semibold, sans-serif;
  margin-right: inherit;
}

input::placeholder {
  color: white;
  font: 400 24px nunito-semibold, sans-serif;
}

.scrollbar {
  float: left;
  height: 328px;
  margin-left: 22px;
  width: 24px;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 328px;
}

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #d9d9d9;
}

#style-1::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/*# sourceMappingURL=style.css.map */
